### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
IDS = purchase_data["SN"].value_counts()
TotalPlayers = len(IDS)
pd.DataFrame({"Total Players": [TotalPlayers]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Average_Price = purchase_data["Price"].mean()
Unique_Items = len(purchase_data["Item ID"].value_counts())
Number_of_Purchases = purchase_data["Item Name"].count()
Total_Revenue = purchase_data["Price"].sum()
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [Unique_Items], 
                                    "Average Price": [Average_Price],
                                   "Number of Purchases": [Number_of_Purchases],
                                   "Revenue": [Total_Revenue]})                                                     
Purchasing_Analysis["Average Price"] = Purchasing_Analysis["Average Price"].map("${:,.2f}".format)
Purchasing_Analysis["Total Revenue"] = Purchasing_Analysis["Revenue"].map("${:,.2f}".format)
Purchasing_Analysis

,Number of Unique Items,Average Price,Number of Purchases,Revenue,Total Revenue
0,179,$3.05,780,2379.77,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
PlayerDemographic = purchase_data.loc[:,["Gender", "SN", "Age"]]
PlayerDemographic = PlayerDemographic.drop_duplicates()
TotalPlayers = PlayerDemographic.count()[0]
#TotalPlayers 
PlayerDemographicTotals = PlayerDemographic["Gender"].value_counts()
#PlayerDemograhicTotals
PlayerDemographicPercent = PlayerDemographicTotals / TotalPlayers 
#PlayerDemographicPercent
GenderDemographics = pd.DataFrame({"Total Counts": PlayerDemographicTotals, "Percentage of Players": PlayerDemographicPercent})
GenderDemographics["Percentage of Players"] = GenderDemographics["Percentage of Players"].map("{:,.2%}".format)
GenderDemographics

                       Total Counts Percentage of Players
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Gender_Purchase_Price_Total = purchase_data.groupby(["Gender"]).sum()["Price"]
Gender_Purchase_Price_Average = purchase_data.groupby(["Gender"]).mean()["Price"]
Gender_Purchase_Count = purchase_data.groupby(["Gender"]).count()["Price"]
Gender_Purchase_Per_Person = Gender_Purchase_Price_Total / GenderDemographics["Total Counts"] 

Gender_Purchase_df = pd.DataFrame({"Purchase Count": Gender_Purchase_Count, 
                                           "Total Purchase Value": Gender_Purchase_Price_Total,
                                           "Average Purchase Price": Gender_Purchase_Price_Average,
                                           "Average Purchase Total Per Person": Gender_Purchase_Per_Person})

Gender_Purchase_df["Total Purchase Value"] = Gender_Purchase_df["Total Purchase Value"].map("${:,.2f}".format)
Gender_Purchase_df["Average Purchase Price"] = Gender_Purchase_df["Average Purchase Price"].map("${:,.2f}".format)
Gender_Purchase_df["Average Purchase Total Per Person"] = Gender_Purchase_df["Average Purchase Total Per Person"].map("${:,.2f}".format)
Gender_Purchase_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Total Per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,"$1,967.64",$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
age_demographics_df = pd.DataFrame({"Age": PlayerDemographic["Age"], "SN": PlayerDemographic["SN"]})

bin_labels = ["< 10", "10-4", "15-9", "20-24", "25-29", "30-34", "35-39", "40 >"]
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999.99]

PlayerDemographic["Age Ranges"] = pd.cut(PlayerDemographic["Age"], bins, labels=bin_labels)

age_demographic_totals = PlayerDemographic["Age Ranges"].value_counts()
age_demographic_percent = age_demographic_totals / TotalPlayers
age_demographic_percent

age_demographics_df = pd.DataFrame({"Total Counts": age_demographic_totals, "Percentage of Players": age_demographic_percent})
age_demographics_df = age_demographics_df.sort_index()
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("{:,.2%}".format)
age_demographics_df

       Total Counts Percentage of Players
< 10             17                 2.95%
10-4             22                 3.82%
15-9            107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40 >             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
Age_Purchase_Price_Total = purchase_data.groupby(["Age"]).sum()["Price"]
Age_Purchase_Price_Average = purchase_data.groupby(["Age"]).mean()["Price"]
Age_Purchase_Count = purchase_data.groupby(["Age"]).count()["Price"]
Age_Purchase_Per_Person = Gender_Purchase_Price_Total / GenderDemographics["Total Counts"] 

Age_Purchase_df = pd.DataFrame({"Purchase Count": Age_Purchase_Count, 
                                           "Total Purchase Value": Age_Purchase_Price_Total,
                                           "Average Purchase Price": Age_Purchase_Price_Average,
                                           "Average Purchase Total Per Person": Age_Purchase_Per_Person})

Age_Purchase_df["Total Purchase Value"] = Gender_Purchase_df["Total Purchase Value"].map("${:,.2f}".format)
Age_Purchase_df["Average Purchase Price"] = Gender_Purchase_df["Average Purchase Price"].map("${:,.2f}".format)
Age_Purchase_df["Average Purchase Total Per Person"] = Gender_Purchase_df["Average Purchase Total Per Person"].map("${:,.2f}".format)
Age_Purchase_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Total Per Person
7,9.0,$32.89,$3.65,$nan
8,8.0,$25.97,$3.25,$nan
9,6.0,$18.27,$3.04,$nan
10,9.0,$31.83,$3.54,$nan
11,7.0,$18.79,$2.68,$nan
12,6.0,$15.80,$2.63,$nan
13,4.0,$9.45,$2.36,$nan
14,2.0,$6.91,$3.46,$nan
15,35.0,$105.65,$3.02,$nan
16,30.0,$90.56,$3.02,$nan
17,22.0,$64.48,$2.93,$nan
18,26.0,$82.22,$3.16,$nan
19,23.0,$69.98,$3.04,$nan
20,99.0,$314.32,$3.17,$nan
21,62.0,$180.74,$2.92,$nan
22,70.0,$206.85,$2.96,$nan
23,67.0,$201.93,$3.01,$nan
24,67.0,$210.22,$3.14,$nan
25,59.0,$181.90,$3.08,$nan
26,14.0,$40.19,$2.87,$nan
27,10.0,$27.23,$2.72,$nan
28,5.0,$8.45,$1.69,$nan
29,13.0,$35.23,$2.71,$nan
30,35.0,$110.32,$3.15,$nan
31,7.0,$24.05,$3.44,$nan
32,8.0,$22.69,$2.84,$nan
33,14.0,$34.81,$2.49,$nan
34,9.0,$22.13,$2.46,$nan
35,14.0,$52.03,$3.72,$nan
36,5.0,$12.66,$2.53,$nan
37,7.0,$25.51,$3.64,$nan
38,9.0,$34.15,$3.79,$nan
39,6.0,$23.32,$3.89,$nan
40,6.0,$16.71,$2.79,$nan
41,2.0,$6.54,$3.27,$nan
42,1.0,$3.93,$3.93,$nan
43,1.0,$4.00,$4.00,$nan
44,2.0,$5.36,$2.68,$nan
45,1.0,$1.70,$1.70,$nan
Female,NaN,$nan,$nan,$nan
Male,NaN,$nan,$nan,$nan
Other / Non-Disclosed,NaN,$nan,$nan,$nan

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
Top_Senders = pd.DataFrame({"SN": PlayerDemographic["SN"], "SN": PlayerDemographic["SN"]})
Top_Senders_Purchase_Price_Total = purchase_data.groupby(["SN"]).sum()
Top_Senders_Purchase_Price_Average = purchase_data.groupby(["SN"]).mean()
Top_Senders_Purchase_Count= purchase_data.groupby(["SN"]).count()
Top_Senders_Purchase_Per_Person = Top_Senders_Purchase_Price_Total / PlayerDemographics["Total Counts"]
Top_Senders_Purchase_Per_Person

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
Purchase_Price_Total = purchase_data.groupby(["Item ID"]).sum()["Price"]
Purchase_Price_Average = purchase_data.groupby(["Item ID"]).mean()["Price"]
Purchase_Count = purchase_data.groupby(["Item ID"]).count()["Price"]

Purchase_df["Total Purchase Value"] = Purchase_df["Total Purchase Value"].map("${:,.2f}".format)
Purchase_df["Average Purchase Price"] = Purchase_df["Average Purchase Price"].map("${:,.2f}".format)

Purchase_Price_Total = purchase_data.groupby(["Item Name"]).sum()["Price"]
Purchase_Price_Average = purchase_data.groupby(["Item Name"]).mean()["Price"]
Purchase_Count = purchase_data.groupby(["Item Name"]).count()["Price"]

Purchase_df["Total Purchase Value"] = Purchase_df["Total Purchase Value"].map("${:,.2f}".format)
Purchase_df["Average Purchase Price"] = Purchase_df["Average Purchase Price"].map("${:,.2f}".format)

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['Item Price'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
Purchase_Price_Total = purchase_data.groupby(["Item ID"]).sum()["Price"]
Purchase_Price_Average = purchase_data.groupby(["Item ID"]).mean()["Price"]
Purchase_Count = purchase_data.groupby(["Item ID"]).count()["Price"]

Purchase_Price_Total = purchase_data.groupby(["Item Name"]).sum()["Price"]
Purchase_Price_Average = purchase_data.groupby(["Item Name"]).mean()["Price"]
Purchase_Count = purchase_data.groupby(["Item Name"]).count()["Price"]